/*MY APPS SECTION*/
.section-apps {
  padding: 10rem 20rem 20rem 20rem;

  @media only screen and (max-width: 900px) {
    padding: 10rem 10rem 10rem 10rem;
  }
}

.heading-container--apps {
  padding-bottom: 10rem;
}

.img-row {
  display: flex;
}

.img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  @media only screen and (max-width: 1200px) {
    font-size: 1.5rem;
  }

  @media only screen and (max-width: 475px) {
    font-size: 1rem;
  }
}

.img-container--item {
  position: relative;
  flex: 25%;

  & > img {
    display: block;
    height: auto;
    width: 100%;
    min-width: 12rem;
  }
}

.img-container--item:hover .overlay {
  opacity: 1;
}

.overlay > h2 {
  padding: 1rem;
  white-space: nowrap;
}

.btn-container {
  display: flex;
  gap: 8px;
}
