/*LET'S CONNECT SECTION*/
.section-connect {
  padding: 100px 200px 200px 200px;
}

.connect-container {
  display: flex;
  justify-content: center;
}

.connect-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
}

.connect-heading-container > h1 {
  font-size: 45px;
  font-weight: 700;
}

.connect-heading-container > h2 {
  font-size: 24px;
  font-weight: 500;
}
