/*NAVBAR*/
nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.8rem;
  backdrop-filter: saturate(180%) blur(2rem);
  background: rgba(0, 0, 0, 0.8);
  z-index: 8000;
}

.nav-logo {
  font-size: 2.8rem;
}

nav > a {
  text-decoration: none;
  border: none;
}

nav > a:hover {
  border: none;
}

nav.dark {
  color: #ffffff;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 1.2rem;
  font-weight: 600;
}

.toggler--slider {
  width: 2.5rem;
  height: 1.3rem;
  background-color: #2b283a;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #f5f5f5;
}

.toggler--slider--circle {
  height: 1.3rem;
  width: 1.3rem;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #fff;
}

nav.dark .toggler--light {
  color: #918e9b;
}

.toggler--dark {
  color: #918e9b;
}

nav.dark .toggler--dark {
  color: #fff;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}
