/*
      0px to 300px = Mini Phone
      300px to 375px = Tiny Phone
      375px to 450px = Small Phone
      450px to 600px = Phone
      600px to 900px = Tablet Portrait Mode
      900px to 1200px = Tablet Landscape Mode
      1200px to 1800px = Where our normal styles apply
      1800px+ = Big Desktops

      $BREAKPOINT ARGUMENT CHOICES:
      - mini-phone
      - tiny-phone
      - small-phone
      - phone
      - tab-portrait
      - tab-landscape
      - big-desktop

      EMs:
      em's are not effected by the root font size(_base.scss)
      1em = 16px
      Divide the px by 16 to get the em value
      We use em in responsive design instead of px

      ORDER OF MEDIA QUERY DEFINITIONS:
      1. Typography
      2. General Layout
      3. Grid
      4. Page Layout
      5. Components
      */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /*62.5% of 16px = 10px (We use a % to be more user friendly, 16px is default)*/
  /*Global font-size (Each rem unit is now 10px)*/
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 37.5%;
  }
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  background-color: #06c;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
}

button:hover {
  background-color: #0071e3;
}

.button {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  background-color: #06c;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
}

.button:hover {
  background-color: #0071e3;
}

.form-container {
  padding: 8rem;
}
@media only screen and (max-width: 600px) {
  .form-container {
    padding: 6rem;
  }
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

input {
  border-radius: 6px;
  width: 40rem;
  height: 3.5rem;
  border: 2px solid #424245;
  text-indent: 8px;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}
@media only screen and (max-width: 375px) {
  input {
    width: 26rem;
  }
}

input:focus {
  outline: none;
}

textarea {
  padding: 1.2rem 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.6rem;
  border: 2px solid #424245;
  border-radius: 6px;
  resize: none;
  font-family: "Inter", sans-serif;
  width: 40rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 375px) {
  textarea {
    width: 26rem;
  }
}

textarea:focus {
  outline: none;
}

/*Modal*/
#portal .container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

.container .modal {
  z-index: 1;
  width: 35rem;
  height: 22rem;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 5px;
  border-radius: 5px;
  position: relative;
  -webkit-animation: animate 0.3s;
  animation: animate 0.3s;
}

.modal > ion-icon {
  color: green;
  font-size: 4rem;
}

.modal > h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

.modal > h3 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

@-webkit-keyframes animate {
  from {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes animate {
  from {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*ABOUT ME SECTION*/
.section-aboutme {
  padding: 10rem 20rem 20rem 20rem;
}
@media only screen and (max-width: 900px) {
  .section-aboutme {
    padding: 10rem 10rem 10rem 10rem;
  }
}
@media only screen and (max-width: 600px) {
  .section-aboutme {
    padding: 20rem 12rem;
  }
}

.about-me--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3rem;
  padding: 10rem;
}
@media only screen and (max-width: 1200px) {
  .about-me--container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .about-me--container {
    padding: 8rem 10rem 10rem 10rem;
  }
}
@media only screen and (max-width: 450px) {
  .about-me--container {
    padding-left: 0;
    padding-right: 0;
  }
}
.about-me--container > img {
  display: block;
  border-radius: 90%;
  width: 17.5rem;
  height: 17.5rem;
}

.about-me--text {
  font-size: 2rem;
  line-height: 140%;
  word-wrap: break-word;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*MY APPS SECTION*/
.section-apps {
  padding: 10rem 20rem 20rem 20rem;
}
@media only screen and (max-width: 900px) {
  .section-apps {
    padding: 10rem 10rem 10rem 10rem;
  }
}
@media only screen and (max-width: 600px) {
  .section-apps {
    padding: 20rem 5rem;
  }
}

.heading-container--apps {
  padding-bottom: 10rem;
}
@media only screen and (max-width: 600px) {
  .heading-container--apps {
    padding-bottom: 8rem;
  }
}

.img-row {
  display: flex;
}

.img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media only screen and (max-width: 1200px) {
  .overlay {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 450px) {
  .overlay {
    font-size: 1rem;
    gap: 0.4rem;
  }
}
.overlay > h2 {
  padding: 1rem;
  white-space: pre-wrap;
  text-align: center;
}

.img-container--item {
  position: relative;
  flex: 25%;
}
.img-container--item > img {
  display: block;
  height: auto;
  width: 100%;
  min-width: 13rem;
}

.img-container--item:hover .overlay {
  opacity: 1;
}

.btn-container {
  display: flex;
  gap: 8px;
}

.button:link {
  text-decoration: none;
}
.button:hover {
  text-decoration: none;
  border-bottom: none;
}
.button:active {
  text-decoration: none;
}
@media only screen and (max-width: 450px) {
  .button {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1rem;
    margin-top: -1rem;
    text-decoration: none;
  }
}
@media only screen and (max-width: 375px) {
  .button {
    font-size: 0.9rem;
  }
}

.app-img__1 {
  border-radius: 8px 0 0 0;
}

.app-img__2 {
  border-radius: 0 8px 0 0;
}

.app-img__3 {
  border-radius: 0 0 0 8px;
}

.app-img__4 {
  border-radius: 0 0 8px 0;
}

/*LET'S CONNECT SECTION*/
.section-connect {
  padding: 10rem 20rem 20rem 20rem;
}
@media only screen and (max-width: 900px) {
  .section-connect {
    padding: 10rem 10rem 10rem 10rem;
  }
}
@media only screen and (max-width: 600px) {
  .section-connect {
    padding: 20rem 0;
  }
}

.connect-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.connect-heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.2rem;
  white-space: nowrap;
}

.connect-heading-container > h1 {
  font-size: 4.5rem;
  font-weight: 700;
}

.connect-heading-container > h2 {
  font-size: 2.4rem;
  font-weight: 500;
}

/*FOOTER*/
footer {
  -webkit-backdrop-filter: saturate(180%) blur(2rem);
  backdrop-filter: saturate(180%) blur(2rem);
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 1.5rem;
}

footer > a {
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
  margin-top: 1rem;
}

footer > a:link {
  text-decoration: none;
}

footer > a:hover {
  color: #0071e3;
  text-decoration: none;
  border-bottom: none;
}

footer > a:active {
  text-decoration: none;
}

/*HEADER*/
/*Slide in/out animation*/
.intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.2rem;
  white-space: nowrap;
}

.intro-container > h1 {
  font-size: 5.5rem;
  font-weight: 600;
}

.intro-container > h2 {
  font-size: 2.4rem;
  font-weight: 500;
}

.slideToRight {
  -webkit-animation-name: slideToRight;
  animation-name: slideToRight;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes slideToRight {
  0% {
    opacity: 0;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideToRight {
  0% {
    opacity: 0;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.hidden-left {
  opacity: 0;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.show {
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.hidden {
  opacity: 0;
}

header {
  padding: 20rem 20rem 30rem 20rem;
}
@media only screen and (max-width: 900px) {
  header {
    padding: 20rem 10rem 30rem 10rem;
  }
}
@media only screen and (max-width: 600px) {
  header {
    padding: 30rem 10rem;
  }
}

main.dark {
  background-color: #000;
  color: #ffffff;
}

.link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 2rem;
}

.link-item--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link-item--container > a {
  color: #06c;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.link-item--container > a:hover {
  margin-bottom: -2px;
  border-bottom: 2px solid #06c;
}

.slideUp {
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.blue-arrow {
  color: #06c;
  font-size: 1.8rem;
}

/*NAVBAR*/
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.8rem;
  -webkit-backdrop-filter: saturate(180%) blur(2rem);
  backdrop-filter: saturate(180%) blur(2rem);
  background: rgba(0, 0, 0, 0.8);
  z-index: 8000;
}

.nav-logo {
  font-size: 2.8rem;
}

nav > a {
  text-decoration: none;
  border: none;
}

nav > a:hover {
  border: none;
}

nav.dark {
  color: #ffffff;
}

.toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.toggler p {
  font-size: 1.2rem;
  font-weight: 600;
}

.toggler--slider {
  width: 2.5rem;
  height: 1.3rem;
  background-color: #2b283a;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid black;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #f5f5f5;
}

.toggler--slider--circle {
  height: 1.3rem;
  width: 1.3rem;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #fff;
}

nav.dark .toggler--light {
  color: #918e9b;
}

.toggler--dark {
  color: #918e9b;
}

nav.dark .toggler--dark {
  color: #fff;
}

nav.dark .toggler--slider {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

/*TOOLKIT SECTION*/
.section-toolkit {
  padding: 10rem 20rem 20rem 20rem;
}
@media only screen and (max-width: 900px) {
  .section-toolkit {
    padding: 10rem 10rem 10rem 10rem;
  }
}
@media only screen and (max-width: 600px) {
  .section-toolkit {
    padding: 20rem 5rem;
  }
}

.heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 600;
  white-space: nowrap;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 4rem;
  font-size: 6.4rem;
  padding: 10rem;
}
@media only screen and (max-width: 600px) {
  .logo-container {
    padding: 8rem;
    gap: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.logo-item--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-item--container:nth-child(2) {
  -webkit-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms;
}

.logo-item--container:nth-child(3) {
  -webkit-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms;
}

.logo-item--container:nth-child(4) {
  -webkit-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  transition-delay: 600ms;
}

.logo-item--container:nth-child(5) {
  -webkit-transition-delay: 800ms;
  -o-transition-delay: 800ms;
  transition-delay: 800ms;
}

.logo-item--container:nth-child(6) {
  -webkit-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}

#logo-html5 {
  color: #e34c26;
}

#logo-css3 {
  color: #0000ff;
}

#logo-sass {
  color: #cd6799;
}

#logo-javascript {
  color: #f0db4f;
}

#logo-react {
  color: #61dbfb;
}

.logo-label {
  font-size: 2rem;
  font-weight: 400;
}

/*# sourceMappingURL=main.css.map */
