.form-container {
  padding: 80px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

input {
  border-radius: 6px;
  width: 40rem;
  height: 3.5rem;
  border: 2px solid #424245;
  text-indent: 8px;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;

  @media only screen and (max-width: 375px) {
    width: 26rem;
  }
}

input:focus {
  outline: none;
}

textarea {
  padding: 1.2rem 8px;
  box-sizing: border-box;
  font-size: 1.6rem;
  border: 2px solid #424245;
  border-radius: 6px;
  resize: none;
  font-family: "Inter", sans-serif;
  width: 40rem;
  margin-bottom: 1rem;

  @media only screen and (max-width: 375px) {
    width: 26rem;
  }
}

textarea:focus {
  outline: none;
}
