/*Modal*/
#portal .container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}
.container .modal {
  z-index: 1;
  width: 35rem;
  height: 22rem;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
}

.modal > ion-icon {
  color: green;
  font-size: 4rem;
}

.modal > h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

.modal > h3 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

@keyframes animate {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
