/*Modal*/
#portal .container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}
.container .modal {
  z-index: 1;
  width: 35rem;
  height: 22rem;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 5px;
  border-radius: 5px;
  position: relative;
  -webkit-animation: animate 0.3s;
  animation: animate 0.3s;
}

.modal > ion-icon {
  color: green;
  font-size: 4rem;
}

.modal > h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

.modal > h3 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

@-webkit-keyframes animate {
  from {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes animate {
  from {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
