/*MY APPS SECTION*/
.section-apps {
  padding: 10rem 20rem 20rem 20rem;

  @media only screen and (max-width: 900px) {
    padding: 10rem 10rem 10rem 10rem;
  }

  @media only screen and (max-width: 600px) {
    padding: 20rem 5rem;
  }
}

.heading-container--apps {
  padding-bottom: 10rem;

  @media only screen and (max-width: 600px) {
    padding-bottom: 8rem;
  }
}

.img-row {
  display: flex;
}

.img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  @media only screen and (max-width: 1200px) {
    font-size: 1.5rem;
  }

  @media only screen and (max-width: 450px) {
    font-size: 1rem;
    gap: 0.4rem;
  }

  & > h2 {
    padding: 1rem;
    white-space: pre-wrap;
    text-align: center;
  }
}

.img-container--item {
  position: relative;
  flex: 25%;

  & > img {
    display: block;
    height: auto;
    width: 100%;
    min-width: 13rem;
  }
}

.img-container--item:hover .overlay {
  opacity: 1;
}

.btn-container {
  display: flex;
  gap: 8px;
}

.button {
  &:link {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    border-bottom: none;
  }

  &:active {
    text-decoration: none;
  }

  @media only screen and (max-width: 450px) {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1rem;
    margin-top: -1rem;
    text-decoration: none;
  }

  @media only screen and (max-width: 375px) {
    font-size: 0.9rem;
  }
}
