/*FOOTER*/
footer {
  backdrop-filter: saturate(180%) blur(2rem);
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

footer > a {
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
  margin-top: 1rem;
}

footer > a:link {
  text-decoration: none;
}

footer > a:hover {
  color: #0071e3;
  text-decoration: none;
  border-bottom: none;
}

footer > a:active {
  text-decoration: none;
}
