/*HEADER*/
/*Slide in/out animation*/
.intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
}

.intro-container > h1 {
  font-size: 5.5rem;
  font-weight: 600;
}

.intro-container > h2 {
  font-size: 2.4rem;
  font-weight: 500;
}

.slideToRight {
  -webkit-animation-name: slideToRight;
  animation-name: slideToRight;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes slideToRight {
  0% {
    opacity: 0;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideToRight {
  0% {
    opacity: 0;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.hidden-left {
  opacity: 0;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.show {
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.hidden {
  opacity: 0;
}

header {
  padding: 20rem 20rem 0rem 20rem;
  height: 100vh;

  @media only screen and (max-width: 900px) {
    padding: 20rem 10rem 30rem 10rem;
    height: 100vh;
  }

  @media only screen and (max-width: 600px) {
    padding: 30rem 10rem;
  }
}

main.dark {
  background-color: #000;
  color: #ffffff;
}

.link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 2rem;
}

.link-item--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link-item--container > a {
  color: #06c;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.link-item--container > a:hover {
  margin-bottom: -2px;
  border-bottom: 2px solid #06c;
}

.slideUp {
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.blue-arrow {
  color: #06c;
  font-size: 1.8rem;
}
